.idea
wikt_dump
tmp
scripts/hyperparameters/__pycache__/
data/cs/wiktionary/
data/de/wiktionary/
data/el/wiktionary/
data/es/wiktionary/
data/it/wiktionary/
data/ms/wiktionary/
data/nl/wiktionary/
data/pl/wiktionary/
data/pt/wiktionary/
data/ru/wiktionary/
data/tr/wiktionary/
